@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(
    ellipse at 80% 350%,
    #f7f7ef 0%,
    #f7f7ef 80%,
    #e5e3d7 90%,
    #e5e3d7 100%
  );
  padding: 2rem;
}

@font-face {
  font-family: "LTCCaslonSmallCaps";
  src: url("/fonts/LTCCaslonSmallCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LTC Caslon Swash W01 Swash";
  src: url("/fonts/LTC Caslon Swash W01 Swash.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
