@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/global.css */
body {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at 80% 350%, #F7F7EF 0%, #F7F7EF 80%, #E5E3D7 90%, #E5E3D7 100%);
  /* background-image: -webkit-radial-gradient(
    farthest-corner at 40px 40px,
    #EAE7DE 0%,
    #F7F7EF 100%
  ); */
}

@font-face {
  font-family: "LTCCaslonSmallCaps";
  src: url("/fonts/LTCCaslonSmallCaps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
