.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.topDivider {
  margin-bottom: 1rem;
  width: 60%;
  height: 1px;
  background-color: #6665607b;
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  mix-blend-mode: difference;
}

.topText {
  font-family: "LTCCaslonSmallCaps";
  font-size: 24pt;
  color: #666560;
  line-height: 1.1cap;
  padding-top: 1rem;
}

.lowerText {
  width: 50%;
  font-family: "Garamond";
  color: #666560;
  font-style: italic;
}

.bottomDivider {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  width: 60%;
  mask: linear-gradient(
    to right,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
}

.leftLine {
  flex-grow: 1;
  height: 1px;
  background-color: #6665607b;
}

.author {
  font-family: "LTC Caslon Swash W01 Swash";
  color: #666560;
}

.rightLine {
  flex-grow: 1;
  height: 1px;
  background-color: #6665607b;
}


@media (max-width: 768px) {
    .topDivider {
      width: 90%;
    }
  
    .bottomDivider {
      width: 90%;
    }
  
    .topText {
      font-family: "LTCCaslonSmallCaps";
      font-size: 20pt;
      color: #666560;
    }
  
    .lowerText {
      width: 90%;
      font-family: "Garamond";
      color: #666560;
      font-style: italic;
    }
  }
  