.blob {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 10rem;
  height: 5rem;
  background: radial-gradient(circle, #ceb56af0 30%, #666560 40%, transparent 100%);
  filter: blur(10px);
  mix-blend-mode: overlay;
  transition: opacity 1s linear;
}
